In [1]:
%load_ext autoreload
%autoreload 2
import pandas as pd
# from main import load_training_data, fill_missing_values

# features, target, customerId = load_training_data()

# features = fill_missing_values(features)

# load data
df = pd.read_csv("data/labels_training.txt")
views = pd.read_csv("data/views.txt")
views = views.drop(columns=['imageZoom']) # discard imageZoom column since all 0 but 1 value
aggr_views = views.groupby(['customerId','productId']).sum() # aggregate the views of a customer of a product by summing

# add customer info
customers = pd.read_csv("data/customers.txt")
df = pd.merge(df, customers, left_on=['customerId'], right_on=['customerId'], how='left')
# add product info
products = pd.read_csv("data/products.txt")
products = products.drop(columns=['dateOnSite'])
df = pd.merge(df, products, left_on=['productId'], right_on=['productId'], how='left')
# add views info
df = pd.merge(df, aggr_views, right_index=True, left_on=['customerId', 'productId'])

print("Dropping all rows with nan")
df.dropna(inplace=True) # TODO: temporarily remove all rows with missing info
print(df.shape)

Dropping all rows with nan
(12327602, 16)

In [2]:
df

,customerId,productId,purchased,isFemale,country,yearOfBirth,isPremier,brand,price,productType,onSale,viewOnly,changeThumbnail,viewCatwalk,view360,sizeGuide
0,0,6055193,False,True,United States,1988.0,False,53,20.00,4036,False,1,1,0,0,0
1,0,6150738,False,True,United States,1988.0,False,3275,24.00,4036,False,0,1,0,0,0
2,0,6974997,False,True,United States,1988.0,False,53,20.00,4036,False,1,1,0,0,0
3,0,7237821,False,True,United States,1988.0,False,53,20.00,4036,False,0,2,0,0,0
4,0,7376730,False,True,United States,1988.0,False,13817,12.99,4036,False,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13481424,399475,7157178,False,True,Germany,1964.0,False,15040,32.00,1465,True,1,1,0,0,0
13481425,399475,7277739,False,True,Germany,1964.0,False,53,55.00,1465,False,1,0,1,0,0
13481426,399475,7426863,False,True,Germany,1964.0,False,14809,50.00,1465,False,2,0,1,0,0
13481427,399477,6495819,False,True,Germany,1968.0,False,53,17.50,1562,True,1,0,0,0,0
13481428,399478,5739201,False,False,Germany,1964.0,False,12769,26.00,3717,True,1,1,0,0,0